<div class="card book {{ 'book--full' if detail }}">
    <div class="book__cover">
        <img src="{{book.cover}}" alt="book cover" />
    </div>

    <div class="book__header">
        <p class="book__title">{{ book.title }}</p>
        <p class="book__author">por {{ book.authors | join(', ') }}</p>
    </div>
    <div class="book__body">
        <p class="book__synopsis">{{ book.synopsis }}</p>

        {% if detail %}
        <div class="book__extra-info">
            <p>
                Se publicó en el año
                <span class="highlight">{{ book.year }}</span> por la editorial
                <span class="highlight">{{ book.publisher }}</span>.
            </p>
            <p>
                La primera edición se realizo en
                <span class="highlight">{{ book.country }}</span>.
            </p>
            <p>
		Es un libro perteneciente a los géneros:
                <span class="highlight">{{ book.genres | join(', ') }}</span>.
            </p>
        </div>
        {% endif %}
    </div>



    {% if detail %}
    <div class="book__actions">
        {% if book.status == 'AVAILABLE' %}
        <button class="btn btn-primary" data-ref="addToList">
            Empezar a leer
        </button>
        {% endif %} {% if book.status == 'READING' %}
        <button class="btn btn-warning" data-ref="removeFromList">
            Dejar de leer
        </button>
        <button class="btn btn-success" data-ref="addToFinish">
            Lo termine!
        </button>
        {% endif %} {% if book.status == 'FINISHED' %}
        <button class="btn btn-danger" data-ref="removeFromFinish">
            Volver a leer
        </button>

        <label for="Calificacion: " style="margin-left:150px">Calificacion :</label>
        <select class="btn btn-primary" id="rating">
            <option value =5>Muy bueno</option>
            <option value =4>Bueno</option>
            <option value =3>Regular</option>
            <option value =2>Malo</option>
            <option value =1>Muy Malo</option>
            <option selected></option>
        </select>

        {% endif %}
    </div>
    {% endif %}
</div>


{% if detail %}

<button style="margin-top:10px" class="btn btn-primary back" id="back" onclick="window.location = document.referrer"> Atras </button>

{% endif %}

